$body: #333333;
$primary : #22A05B; //1
$secondary : #29C06D; //2
$success : #30E07F; //3
$info : #36FF92; //4
$warning : #E74C3C; //5

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $body;
    font-size: 16px;
}

.heading_widget_title {
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0px;
}

.heading_widget_desc {
    margin-bottom: 0px;
    font-style: 16px;
}

.button_link_widget_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #c0c0c0 !important;
    color: #fff !important;
    font-weight: 700;
    text-decoration: none !important;
    font-size: 16px;
    transition: all 0.3s;
}